name: Links

on:
  repository_dispatch:
  workflow_dispatch:
  schedule:
    - cron: "00 18 * * *"

jobs:
  linkChecker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Link checker
        id: lychee
        uses: lycheeverse/lychee-action@v1.8.0

      - name: Create issue from file
        if: env.lychee_exit_code != 0
        uses: peter-evans/create-issue-from-file@v4
        with:
          title: "Remove `..`"
          content-filepath: ./lychee/out.md
          labels: report, automated issue
