---
name: Links
permissions:
  contents: read
  pull-requests: read

on:
  repository_dispatch:
  workflow_dispatch:
  schedule:
    - cron: "0 18 * * *"

jobs:
  linkChecker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Restore lychee cache
        uses: actions/cache@v3
        with:
          path: .lycheecache
          key: cache-lychee-${{ github.sha }}
          restore-keys: cache-lychee-

      - name: Link checker
        id: lychee
        uses: lycheeverse/lychee-action@1d97d84f0bc547f7b25f4c2170d87d810dc2fb2c
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        with:
          # Excluding sourcehut because they block automated requests due to AI scrapers
          args: "--exclude '^https://git.sr.ht' --cache --max-cache-age 7d -a 429 ."

      - name: Create issue from file
        if: env.lychee_exit_code != 0
        uses: peter-evans/create-issue-from-file@v4
        with:
          title: "Link check report"
          content-filepath: ./lychee/out.md
          labels: report, automated issue
