---
name: Lint
permissions:
  contents: read
  pull-requests: read

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize]

jobs:
  test:
    name: Run awesome linter
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - run: npx awesome-lint@1.2.0
