---
name: Lint
permissions:
  contents: read
  pull-requests: read

on:
  push:
    branches:
      - main
    paths:
      - README.md
  pull_request:
    types:
      - opened
      - synchronize
    paths:
      - README.md

jobs:
  test:
    name: Run awesome linter
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Run Linter
        run: |
          npx awesome-lint@1.2.0
