---
name: PR Title
permissions:
  contents: read
  pull-requests: read

on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize
    paths:
      - README.md

jobs:
  run:
    name: Check the Pull Request Title
    runs-on: ubuntu-latest
    steps:
      - name: Check PR Title
        uses: Slashgear/action-check-pr-title@860e8dc639f8e60335a6f5e8936ba67ed2536890
        with:
          regexp: "^(Add|Update|Remove) `.+\\/.+`$"
          helpMessage: "Example: 'Add `folke/lazy.nvim`'"
