---
name: Typos and Terminology Check
permissions:
  contents: read
  pull-requests: read
on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize
jobs:
  typos-check:
    name: Check for typos
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: crate-ci/typos@b1a1ef3893ff35ade0cfa71523852a49bfd05d19
        with:
          files: ./README.md
          config: ./.github/typos.toml

  terminology-check:
    name: Check for terminology consistency
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Run terminology check script
        run: ./.github/scripts/check-terms.sh README.md

  capitalizations-check:
    name: Ensure correct capitalizations
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Run capitalize.sh
        run:
          ./scripts/capitalize.sh -vc
      - name: Check if diff has changed
        id: check_diff
        run: |
          if [[ -n $(git status --porcelain) ]]; then
            exit 1
          fi
